
h1 {
    color:blue;
}

p {
    color:rgb(1, 83, 1);
}

.spacing{
    margin: 3%;
}
.button{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.heading{
    margin-left: auto;
    margin-right: auto;
    width:25%;
    align-content: center;

}
